<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/chatroom.css">
    <title>Skill Barter</title>
    <%- include('./utilities/stylesheet_inclusion'); %>
    <style>
        body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

        #form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
        #input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
        #input:focus { outline: none; }
        #form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }

        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages > li {
            padding: 0.5rem 1rem;
            color: #333; /* Dark text color for visibility on light backgrounds */
        }

        #messages > li:nth-child(odd) {
            background: white;
        }

        #messages > li:nth-child(even) {
            background: #333; /* Dark background for even items */
            color: white; /* Light text color for visibility on dark backgrounds */
        }
    </style>
</head>

<body class="bg-black muli">
<%- include('./utilities/navbar_dashboard'); %>

<ul id="messages"></ul>
<form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
</form>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    var socket = io();

    var messages = document.getElementById('messages');
    var form = document.getElementById('form');
    var input = document.getElementById('input');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
            socket.emit('chat message', input.value);
            input.value = '';
        }
    });

    socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
    });
</script>
<%- include('./utilities/scripts_inclusion'); %>
</body>
</html>
