<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skill Barter</title>
  <%- include('./utilities/stylesheet_inclusion'); %>
</head>

<body class="bg-black muli">
<%- include('./utilities/navbar'); %>

<!-- hero section -->
<section id="home" class="min-h-100vh flex justify-start items-center">
  <div class="mx-5 md-mx-l5">
    <div class="inline-block br-round bg-indigo-30 indigo-lightest p-2 fs-s2 mb-5">
      <div class="inline-block bg-indigo indigo-lightest br-round px-3 py-1 mr-3 fs-s3">Bart your skill</div>
      Search the right people
    </div>
    <div>
      <h1 class="white fs-l3 lh-2 md-fs-xl1 md-lh-1 fw-900 ">Trade Talents,<br /> Transform Together </h1>

      <div class="white opacity-80 fs-s0 mt-3">Register to get connected with other skilled people</span>
        <br/>
      </div>
    </div>
  </div>
</section>

<!-- features -->
<section id="features" class="p-10 md-p-l5">
  <div class="flex flex-column md-flex-row mx-auto">
    <div class="w-100pc md-w-40pc">
      <div class="br-8 p-5 m-5">
        <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5"><i
                  data-feather="inbox" class="w-l5"></i></div>
        <h4 class="white fw-600 fs-m3 mb-5">Discover Skills</h4>
        <div class="indigo-lightest fw-600 fs-m1 lh-3 opacity-50">Explore a diverse range of talents from our vibrant community. Find the skill you want to learn and the expert who can teach you.</div>
      </div>
    </div>
    <div class="w-100pc md-w-40pc">
      <div class="br-8 p-5 m-5">
        <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5"><i
                  data-feather="cpu" class="w-l5"></i></div>
        <h4 class="white fw-600 fs-m3 mb-5">Connect with Experts</h4>
        <div class="indigo-lightest fw-600 fs-m1 opacity-50">Engage with professionals and enthusiasts alike. Build your network by connecting with peers who share your passion for learning and growth.</div>
      </div>
    </div>
    <div class="w-100pc md-w-40pc">
      <div class="br-8 p-5 m-5">
        <div class="flex justify-center items-center bg-indigo-lightest-10 white w-l5 h-l5 br-round mb-5"><i
                  data-feather="database" class="w-l5"></i></div>
        <h4 class="white fw-600 fs-m3 mb-5">Exchange Knowledge</h4>
        <div class="indigo-lightest fw-600 fs-m1 opacity-50">Offer your expertise in one area in exchange for knowledge in another. Grow together by teaching and learning with fellow skill swappers.</div>
      </div>
    </div>
  </div>
</section>

<!-- big text -->
<section class="p-10 md-py-10">
  <div class="w-100pc md-w-70pc mx-auto py-10">
    <h2 class="white fs-l2 md-fs-xl1 fw-900 lh-2">
      Empower Your Potential with <span class="border-b bc-indigo bw-4"> Peer-to-Peer</span> Skill Exchange</h2>
  </div>
</section>


<!-- testimonials -->
<section class="p-10 md-p-l5">
  <div id="slider-2">
    <div class="px-3">
      <div class="p-8 br-8 bg-indigo-lightest-10 relative">
        <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
        <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">Exchanged design for web dev lessons—thrilled with the growth! </p>
        <div class="flex items-center my-5">
          <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round"
                                                                          src="/images/landing_page_images/women2.jpg" alt=""></div>
          <div class="ml-4 fs-s1">
            <div class="indigo-lightest">Ayesha Khan</div>
            <div class="indigo-lightest opacity-20">Designer, XYZ</div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="p-8 br-8 bg-indigo-lightest-10 relative">
        <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
        <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">Bartered marketing for legal advice; it's a small business lifesaver! </p>
        <div class="flex items-center my-5">
          <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round"
                                                                          src="/images/landing_page_images/men1.jpg" alt=""></div>
          <div class="ml-4 fs-s1">
            <div class="indigo-lightest">Carlos Mendez</div>
            <div class="indigo-lightest opacity-20">Entrepreneur, ABC</div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="p-8 br-8 bg-indigo-lightest-10 relative">
        <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
        <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">Skill Barter turned my skepticism into a skill swap success. Love it!</p>
        <div class="flex items-center my-5">
          <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round"
                                                                          src="/images/landing_page_images/women1.jpg" alt=""></div>
          <div class="ml-4 fs-s1">
            <div class="indigo-lightest">Emily Nguyen</div>
            <div class="indigo-lightest opacity-20">Developer, PQR</div>
          </div>
        </div>
      </div>
    </div>
    <div class="px-3">
      <div class="p-8 br-8 bg-indigo-lightest-10 relative">
        <span class="fs-l5 lh-1 white opacity-10 absolute top-0 z--1">&#10077;</span>
        <p class="fw-600 fs-m1 indigo-lightest opacity-80 italic ls-wider">Improved my photography while teaching writing—gold community.</p>
        <div class="flex items-center my-5">
          <div class="block br-round border bc-black bw-4 w-l3 h-l3"><img class="br-round"
                                                                          src="/images/landing_page_images/men2.jpg" alt=""></div>
          <div class="ml-4 fs-s1">
            <div class="indigo-lightest">Jackson Smith</div>
            <div class="indigo-lightest opacity-20">Photographer & Writer</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- blog -->
<section class="p-0 md-p-5">
  <div class="flex flex-wrap">
    <div class="w-100pc md-w-33pc p-10">
      <a class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
        <img class="w-100pc" src="/images/landing_page_images/people_working_together.webp" alt="">
        <p class="fw-600 white fs-m3 mt-3">
          Skill Swap Sessions: Dive into a pool of collective knowledge and barter your talents with peers.
        </p>
      </a>
    </div>
    <div class="w-100pc md-w-33pc p-10">
      <a class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
        <img class="w-100pc" src="/images/landing_page_images/SpireHuddles_800sq_JN.jpg" alt="">
        <p class="fw-600 white fs-m3 mt-3">
          One-on-One Growth: Forge connections and exchange expertise in a personal, impactful way.
        </p>
      </a>
    </div>
    <div class="w-100pc md-w-33pc p-10">
      <a class="block no-underline p-5 br-8 hover-bg-indigo-lightest-10 hover-scale-up-1 ease-300">
        <img class="w-100pc" src="/images/landing_page_images/two_people_working_together.webp" alt="">
        <p class="fw-600 white fs-m3 mt-3">
          Duo Learning: Pair up to share skills and accelerate mutual development with every session.
        </p>
      </a>
    </div>

  </div>
</section>

<%- include('./utilities/footer'); %>
<%- include('./utilities/scripts_inclusion'); %>
</body>

</html>
